* {
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    background-color: #96FF5B;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #BBFFE2;
}

.destino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    width: 40%;
}
